spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/dtimchenko/custom-microservices-project.git
          username: '{cipher}cad56683bdf26737f6745f0761cfb1d2c8d81d21745056c79c491b252b06aa91'
          password: '{cipher}af951e26ab0d8b5e3c1cefb599c7a3a30d40829d1eebda582e8fb70623104fae1a6bc8f03e1024cf43d324b795fe6d40e1e457ebda94833144932a52bc0fb12a'
          clone-on-start: true
          search-paths: config-server/src/main/resources/applications/
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
server:
  port: 8010
management:
  endpoints:
    web:
      exposure:
        include: busrefresh, health